[submodule "wordpress-formula"]
	path = wordpress-formula
	url = https://github.com/saltstack-formulas/wordpress-formula.git
[submodule "apache-formula"]
	path = apache-formula
	url = https://github.com/saltstack-formulas/apache-formula.git
[submodule "php-formula"]
	path = php-formula
	url = https://github.com/saltstack-formulas/php-formula.git
[submodule "nginx-formula"]
	path = nginx-formula
	url = https://github.com/saltstack-formulas/nginx-formula.git
[submodule "docker-formula"]
	path = docker-formula
	url = https://github.com/saltstack-formulas/docker-formula.git
[submodule "ntp-formula"]
	path = ntp-formula
	url = https://github.com/saltstack-formulas/ntp-formula.git
